.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.problem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 250px;
}

.problem > * {
    background-color: white;
    box-shadow: white 0 0 5px 5px;
    border-radius: 10px;
    padding: 0 5px;
}

.problem input[type=color],
.problem input[type=number] {
    width: 50px;
}